<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Deals</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                            </li>
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> Create Deals</a>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="gotoBack()"> List </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" card mb-4">
        <div class=" card-header">
            <h3 class=" mb-0"> Create Deals </h3>
        </div>

        <form [formGroup]="createDealsForm" (ngSubmit)="createDeals()">
            <div class=" card-body">

                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input1">
                                Deal Name
                            </label>
                            <input class=" form-control" id="input1" placeholder=" Deal Name" type="text"
                                formControlName="dealName" />
                            <small *ngIf="f['dealName'].touched && f['dealName'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input1">
                                Deal Owner
                            </label>
                            <input class=" form-control" id="input1" placeholder=" Deal Owner" type="text"
                                formControlName="dealOwner" />
                            <small *ngIf="f['dealOwner'].touched && f['dealOwner'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input8">
                                Lead Id
                            </label>

                            <input  onlyNumber class=" form-control" id="input8" placeholder="leadId" formControlName="leadId" />
                            <small *ngIf="f['leadId'].touched && f['leadId'].errors">Required</small>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input8">
                                Client Name
                            </label>

                            <input class=" form-control" id="input8" placeholder="Client Name"
                                formControlName="clientName" />
                            <small *ngIf="f['clientName'].touched && f['clientName'].errors">Required</small>
                        </div>
                    </div>

                </div>

                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input4">
                                Unit Status
                            </label>
                            <select formControlName="unitStatus" class=" form-control" placeholder=" Unit Status"
                                id="input4">
                                <option *ngFor="let item of UnitStatusValues" [value]="item.value">
                                    {{item.displayValue}}</option>
                            </select>
                            <small *ngIf="f['unitStatus'].touched && f['unitStatus'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input4">
                                Copy Name
                            </label>

                            <input class=" form-control" id="input4" placeholder="Copy Name" type="text"
                                formControlName="accountName" />
                            <small *ngIf="f['accountName'].touched && f['accountName'].errors">Required</small>

                        </div>
                    </div>



                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input6">
                                Referred By
                            </label>

                            <input class=" form-control" id="input6" placeholder="Referred By" type="text"
                                formControlName="referredBy" />
                            <small *ngIf="f['referredBy'].touched && f['referredBy'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input5">
                                Sales Pipeline
                            </label>
                            <select formControlName="salesPipeline" class=" form-control" placeholder=" Sales Pipeline"
                                id="input5">
                                <option *ngFor="let pipeline of salesPipelines" [value]="pipeline.value">{{
                                    pipeline.displayValue}}</option>
                            </select>
                            <small *ngIf="f['salesPipeline'].touched && f['salesPipeline'].errors">Required</small>
                        </div>
                    </div>


                </div>
                <div class=" row">

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input12">
                                Stage
                            </label>

                            <select formControlName="stage" class=" form-control" placeholder=" Stage" id="input5">
                                <option *ngFor="let stage of stagedValues" [value]="stage.value">{{
                                    stage.displayValue}}</option>
                            </select>

                            <small *ngIf="f['stage'].touched && f['stage'].errors">Required</small>


                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input13">
                                Forcast Category
                            </label>

                            <input class=" form-control" id="input13" placeholder="Forcast Category" type="text"
                                formControlName="forcastCategory" />
                            <small *ngIf="f['forcastCategory'].touched && f['forcastCategory'].errors">Required</small>


                        </div>
                    </div>


                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input19">
                                Amount
                            </label>

                            <input onlyNumber class=" form-control" id="input19" placeholder="Amount" type="tel"
                                formControlName="amount" />
                            <small *ngIf="f['amount'].touched && f['amount'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input14">
                                Commision Percentage
                            </label>
                            <input onlyNumber class=" form-control" id="input14" placeholder=" Commision Percentage"
                                type="text" formControlName="commissionPercent" />
                            <small
                                *ngIf="f['commissionPercent'].touched && f['commissionPercent'].errors">Required</small>

                        </div>
                    </div>

                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input15">
                                Closing Date
                            </label>

                            <input formControlName="closingDate" type="text" placeholder=" Closing Date"
                                class="form-control" bsDatepicker [bsValue]="bsValue" [bsConfig]="{
                          isAnimated: true,
                          containerClass: 'theme-red'
                        }" />

                            <small *ngIf="f['closingDate'].touched && f['closingDate'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input15">
                                Phone Number
                            </label>

                            <input onlyNumber class=" form-control" id="input15" placeholder=" Phone Number" type="tel"
                                maxlength="10" formControlName="phone" />
                            <small *ngIf="f['phone'].touched && f['phone'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input19">
                                Project Type
                            </label>
                            <select formControlName="projectType" class=" form-control" placeholder=" Project Type"
                                id="input19">
                                <option *ngFor="let item of projectTypeValues" [value]="item.value">
                                    {{item.displayValue}}</option>
                            </select>
                            <small *ngIf="f['projectType'].touched && f['projectType'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input15">
                                Pan Card Number
                            </label>

                            <input class=" form-control" id="input15" placeholder="  Pan Card Number" type="text"
                                maxlength="10" formControlName="pancardNumber" />
                            <small *ngIf="f['pancardNumber'].touched && f['pancardNumber'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-4">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input16">
                                Pan card File Upload <small>(allow only .jpg, .png, .jpeg)</small>
                            </label>
                            <div class=" custom-file">
                                <input class=" custom-file-input" id="customFileLang" lang="en" type="file"
                                    (change)="onPancardFileSelected($event)" />
                                <label class=" custom-file-label" for="customFileLang">
                                    Select file
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 px-md-1" style="margin-top: 2rem;">
                        <button class=" btn btn-fill btn-primary" [disabled]="!selectedPancardFile" type="button"
                            (click)="uploadPancardImage()">Upload</button>
                    </div>
                    <div class="col-md-6 px-md-1">
                        <img [src]="pancardUrl" height="200"> <br />
                    </div>
                </div>


            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit"
                    [disabled]="this.createDealsForm.invalid && !pancardFileUploaded">Save</button>
                <button class=" btn btn-fill btn-danger" type="button" (click)="gotoBack()">Cancel</button>
            </div>
        </form>
    </div>


</div>